.container{
    display: grid;
    grid-template-columns: auto auto auto auto; /* chia cột*/
    background-color: #3e2723;
    grid-gap: 20px;
    padding: 10px;
    border-radius: 10px;
}

.item{
    background-color: black;
    border: 1px solid burlywood;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.container2 > div{
    background-color: rosybrown;
    border: 1px solid blue;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.item1,
.item6,
.item8 {
    grid-column-start: 1;
    grid-column-end: 3;
}